@import url(http://fonts.googleapis.com/css?family=Devonshire);
@import url(http://fonts.googleapis.com/css?family=Lemon);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);

body {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: black;
  background-color: white;
  font-family: 'Lemon', cursive;
  font-size: 60px;
  padding: 10px;
  opacity: 0.80;
}

h4{
  border: 10px double black;
  padding: 3px;
  background-color: #white;
  border-radius: 10px;
  font-family: 'Lemon', cursive;
  font-size: 20px;
}
 li:nth-child(2n) {
   color: red;
 }

 li:nth-child(2n + 1){
   color:blue;
   font-family: 'Poiret One', cursive;
 }
