@import url(http://fonts.googleapis.com/css?family=Devonshire);
@import url(http://fonts.googleapis.com/css?family=Lemon);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);

* {
   -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("../images/stardust.png");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: green;
  font-family: 'Poiret One', cursive;
  font-size: 60px;
  padding: 10px;
  opacity: 0.80;
  text-align: center;
}

h3 {
  color: green;
  padding: 10px;
  text-align: center;
}

h4{
  color: white;
  border: 5px  white;
  padding: 3px;
  border-radius: 10px;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  text-align: center
}


a  {
   color:green;
   text-decoration:none;
   }

 a:hover{
   text-decoration: underline;
 }

img{
    position: relative;
    float: left;
    width: 130px;
    height: 130px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    }

    .img1{
      float:left;
      padding: 75px 75px 0px 75px;
    }

    .img3{
      float: left;
      padding: 75px 75px 0px 75px;
    }

    .img2{
      float: left;
      padding: 75px 75px 0px 75px;
    }
    .img4{
      float: left;
      padding: 75px 75px 0px 75px;
    }

    .img5{
      float: left;
      padding: 75px 75px 0px 75px;
    }


 p {
   color: white;
   text-align: center;
 }
